<%- include('partials/header.ejs') %>

<div id="mainInfo-container" class="container bg-light py-3 col-lg-8  ">
  <h2 id="mainInfo-header" class="text-center">
    Find the weather   ⬇️
  </h2>
  <hr>
  <form class="py-4 " id="myForm" method="post">
    <label class="mb-2 h5" for="yourLocation">Enter your location </label>
    <input class="mb-4 p-2" type="text" id="yourLocation" name="location">

    <!-- <label for=""></label>
    <input type="text"> -->
    <!-- Display Temperature -->
    <label class="mb-1 h3 text-success">Temperature</label>
      <p>
        <%= content.temp %>
      </p>
    <!-- Weather Description -->
    <label class="mb-1 h3 text-success">Weather Overview</label>
      <p>
        <%= content.description %>
      </p>
  
      <hr class="horizontal-line">
    
    <div class="container d-flex text-center">
       <!-- Display sunrise -->
       <div class="container col-lg-6 col-sm-12">
        <label class="mb-1 h3 text-success">Min Temp </label>

        <p>
          <%= content.minTemp %>
        </p>
       </div>
       
        <div class="container col-lg-6 col-sm-12">
           <!-- Display sunset -->
      <label class="mb-1 h3 text-success">Max Temp</label>
      <p>
        <%= content.maxTemp %>
      </p>

  </div>
        </div>

     
   

    <input class="mt-1 btn btn-warning text-white" id="get" type="submit" value="Find Out" formaction="/get-weather">
  </form>
  
</div>









</main>
<%- include('partials/footer.ejs') %>