<%- include('partials/header.ejs') %>

<div id="mainInfo-container" class="container bg-light py-3 col-lg-8  ">
  <h2 id="mainInfo-header" class="text-center">
    Find the weather   ⬇️
  </h2>
  <hr>
  <form class="py-4 " id="myForm" method="post">
    <label class="mb-2 h5" for="yourLocation">Enter your location </label>
    <input class="mb-4 p-2" type="text" id="yourLocation" name="location">

    <!-- <label for=""></label>
    <input type="text"> -->
    <!-- Display Temperature -->
    <label class="mb-1 h3 text-success">Temperature</label>
      <p>
        <%= content.temp %>
      </p>
    <!-- Display sunrise -->
    <label class="mb-1 h3 text-success">Sunrise Time</label>

      <p>
        <%= content.sunrise %>
      </p>

    <!-- Display sunset -->
    <label class="mb-1 h3 text-success">Sunset Time </label>
      <p>
        <%= content.sunset %>
      </p>


    <input class="mt-2 btn btn-warning text-white" id="get" type="submit" value="Find Out" formaction="/get-weather">
  </form>
  
</div>









</main>
<%- include('partials/footer.ejs') %>